{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Edit ToDo
{% endblock title %}

{% block body %}
<div class="container pt-4">
    <div class="row p-0 mt-4 px-3 py-3">
        <div class="col-lg-6 mx-auto shadow py-3">
            <!-- Display success message -->
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            {% endif %}
            
            <div class="alert-info alert text-center">
                <h3>Edit ToDo</h3>
            </div>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <hr>
                <input type="submit" value="Save Changes" class="btn btn-info">
            </form>
        </div>
    </div>
</div>
{% endblock body %}
