{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Login User
{% endblock title %}

{% block body %}
<style>
  .my-container {
      background-color: rgb(192, 215, 250);
      padding: 2%;
      display: flex;
      justify-content: center;
  }
  .container-mine {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      padding: 2%;
      border: 1px solid rgb(0,0,0);
      border-radius: 10px;
      background-color: rgb(255, 255, 255);
      width: 90%;
  }
  .my-form {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 60%; /* Adjusted width to be closer to image */
      padding: 15px;
  }
  .fields {
      width: 100%;
  }
  .form-control {
      background-color: rgb(245, 243, 237);
      width: calc(100% - 20px); /* Adjusted width to fit within padding */
      padding: 10px;
      font-size: 16px;
      margin-bottom: 10px; /* Adds spacing between fields */
  }
  .my-img {
      width: 40%; /* Adjusted width of the image */
      height: auto;
  }
  @media screen and (max-width: 728px) {
      .container-mine {
          flex-direction: column-reverse;
          justify-content: center;
      }
      .my-form {
          width: 100%;
          padding: 10px;
      }
      .my-img {
          width: 100%;
      }
  }
</style>

<div class="my-container">
  <div class="container-mine">
    <div class="my-form">
      <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">
              <h3>Log In</h3>
          </legend>
          {{ form|crispy }}
        </fieldset>
        <div class="form-group">
          <button class="btn btn-outline-info my-3" type="submit">Sign in</button>
        </div>
      </form>
      <div class="border-top pt-3">
        <small class="text-muted">
            Need an Account? <a href="/register">Sign Up</a>
        </small>
      </div>
    </div>
    <img class="my-img" src="https://img.freepik.com/premium-vector/data-protection-concept-shield-computer-data-management-protect-data_199064-2298.jpg" alt="Data Protection">
  </div>
</div>
{% endblock body %}
